.root{
li{
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px; 
  line-height: 20px; 
  padding: 10px;
  border: 1px solid rgb(207, 91, 23);
  border-radius: 30px;
  margin-left: 10px;
   
  a{
    display: inline-block;
    color: rgb(207, 91, 23);
  }

 }
}